<div class="gallery-item">
  <img 
    src="{{ include.src | relative_url }}" 
    alt="{{ include.alt }}" 
    class="zoomable-img" 
    style="max-width: 100%; height: auto; cursor: zoom-in;"
  />
</div>

