<div class="gallery-item">
  <img 
    src="{{ site.baseurl }}{{ include.src }}" 
    alt="{{ include.alt | default: 'Gallery image' }}" 
    class="img-fluid" 
    style="max-height:300px; object-fit:cover;"
  >
</div>
