---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<div class="gallery-grid">
  {% assign gallery_folder = page.folder %}
  {% assign images = site.static_files | where_exp: "file", "file.path contains '/assets/photo_gallery/' and file.path contains gallery_folder" %}
  
  <h2>Debug Output:</h2>
<ul>
  {% for file in site.static_files %}
    <li>{{ file.path }}</li>
  {% endfor %}
</ul>

</div>
